@import "../../styles/all.scss";

.nav {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    background-color: $color-main;
    padding: 0 20px;

    @include md-min {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }
}

.navfood {
    height: 100%;
}

.nav__icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 25vh;

    @include md-min {
        width: 50%;
        height: 10vh;
        margin-left: 0;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.svg-inline--fa {
    text-decoration: none;
    background-color: transparent;
    color: $color-bg;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-right: 10px;

    .foodTile & {
        padding: 0;
    }

    @include md-min {
        padding: 0 10px;
    }

}

.fa-bowl-food {
    display: none;
    color: $color-dark-blue;
    width: 45px;
    height: 45px;

    @include md-min {
        display: block;
    }
}

.svg-inline--fa {
    .active & {
        color: $color-dark-blue;
    }
}

.nav__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    color: $color-bg;
    padding: 10px 0;
    font-size: 12px;

    &:hover {
        color: $color-dark-blue;

        svg {
            color: $color-dark-blue;
        }
    }

    &.active {
        color: $color-dark-blue;
        font-weight: bold;
    }

    @include md-min {
        padding: 0 10px;
    }
}