@import "./variables";
@import "./mixins";



.eat-app {
  background-color: $color-bg;
  height: 100%;


  @media (min-width: 2000px) {
    max-width: 2000px;
    margin: 0 auto;

  }
}

.eat-app__col2 {
  background-color: $color-bg;
}