@import "../../styles/all.scss";

.form {
  @include content-width();
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form__group {
  width: 100%;

  @include lg-min {
    width: 50%;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: 1px solid $color-main;
  background-color: transparent;
  margin: 15px 0;
  width: 100%;
  padding: 5px 10px;

  &[aria-invalid="true"] {
    border: 1px solid $color-error;
  }

  @include md-min {
    min-width: 400px;
    max-width: 450px;
  }
}

.form__button {
  background-color: $color-primary;
  color: $color-bg;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.error {
  color: $color-error;
  padding-bottom: 15px;
}

.form-correct {
  color: $color-primary;
  font-weight: bold;
  margin-top: 15px;
}

.form-not-correct {
  color: $color-error;
  margin-top: 15px;
}

.form__title {
  margin-bottom: 20px;
}

.form__container {
  display: flex;
  gap: 50px;
}

.form__subtitle {
  font-size: 20px;
}

.form__text {
  padding: 20px 0;
}

.form__Link {
  display: block;
  width: 30px;
  height: 30px;
  background-color: $color-main;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


  svg {
    width: 20px;
    height: 20px;

  }
}

.form__social {
  display: flex;
  list-style: none;
}

.form__li {
  padding: 0 10px;

  &:nth-of-type(1) {
    padding-left: 0;
  }
}