@import "../../styles/all.scss";

.form {
  @include content-width();
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form__group {
  width: 100%;

  @include lg-min {
    width: 50%;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__input {
  border: 1px solid $color-main;
  background-color: transparent;
  margin: 15px 0;
  width: 100%;
  padding: 5px 10px;

  &[aria-invalid="true"] {
    border: 2px solid $color-error;
  }

  @include md-min {
    min-width: 400px;
  }
}

.form__button {
  background-color: $color-primary;
  color: $color-bg;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.error {
  color: $color-error;
  padding-bottom: 15px;
}

.form-correct {
  color: $color-primary;
  font-weight: bold;
  margin-top: 15px;
}

.form-not-correct {
  color: $color-error;
  margin-top: 15px;
}

.form__title {
  margin-bottom: 20px;
}