@import "../../styles/all.scss";

.order__confirm {
    padding: 10px 0;
}

.order__confim--problem {
    color: $color-error;
}

.order__cofirm__thanks {
    font-weight: bold;
    padding: 10px 0;
    color: $color-primary;
}

.order__cofirm__thanks--text {
    font-style: italic;
    color: $color-primary;
}